.u-section-1 {
  background-image: url("images/pexels-photo-75458371.jpeg");
  background-position: 50% 83.87%;
}

.u-section-1 .u-sheet-1 {
  min-height: 713px;
}

.u-section-1 .u-group-1 {
  width: 768px;
  min-height: 333px;
  margin: 248px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 28px 30px 30px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  font-family: Merriweather, serif;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 588px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 589px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    min-height: 381px;
    margin-top: 60px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 11px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-size: auto 140%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 665px;
  }

  .u-section-1 .u-group-1 {
    min-height: 298px;
    margin-top: 143px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 16px;
    padding-bottom: 18px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
    margin-top: 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 681px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 561px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  line-height: 1.2;
  font-size: 4.5rem;
  font-weight: 700;
  margin: 14px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  margin: 34px 4px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 561px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 24px;
}

.u-section-2 .u-shape-1 {
  width: 505px;
  height: 483px;
  margin: 0 auto 0 9px;
}

.u-section-2 .u-image-1 {
  width: 374px;
  height: 374px;
  background-image: url("images/45min1.jpg");
  background-position: 50% 50%;
  margin: -420px auto 46px 83px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 583px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 463px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 521px;
  }

  .u-section-2 .u-shape-1 {
    width: 422px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    width: 355px;
    height: 355px;
    margin-left: 19px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 475px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 19px;
  }

  .u-section-2 .u-text-1 {
    line-height: 1;
    font-size: 3rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-2 .u-shape-1 {
    height: 370px;
    width: 330px;
    margin-top: 47px;
    margin-left: -15px;
  }

  .u-section-2 .u-image-1 {
    width: 312px;
    height: 312px;
    margin-top: -335px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 753px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 533px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-2 .u-shape-1 {
    width: 483px;
    height: 493px;
    margin-top: 0;
    margin-left: 19px;
  }

  .u-section-2 .u-image-1 {
    width: 409px;
    height: 409px;
    margin-top: -446px;
    margin-left: 44px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 993px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 471px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-2 .u-shape-1 {
    height: 378px;
    width: 359px;
    margin-top: 23px;
    margin-right: -19px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    width: 307px;
    height: 307px;
    margin-top: -342px;
    margin-right: 10px;
    margin-left: 0;
  }
}